<ol>
    <li ng-repeat="candidate in candidates track by $index">

        <div >{{candidate.label}}</div>

        <div class="token" ng-repeat="candidateField in candidate.fields track by $index">
            <div class="svg_icon" ng-include src="'images/svg/icon_'+candidateField.type+'.svg'"></div>

            <span class="token_label type_{{candidateField.type}}" ng-bind="candidateField.label"></span>
            <span class="token_label" ng-show="candidateField.value !== ''">v</span>
            <span ng-click="toggleCandidateEditOpen(candidates, candidate.fields, $parent.$index, $index)">
                <div ng-class="{has_value: candidateField.value}" ng-show="candidateField.value" class="svg_icon circle_icon" ng-include src="'images/svg/edit_icon.svg'"></div>
                <div ng-class="{no_value: !candidateField.value}" ng-show="!candidateField.value" class="svg_icon circle_icon" ng-include src="'images/svg/plus_icon_2.svg'"></div>
            </span>

            <div ng-show="candidateField.editOpen" class="edit_value">

                <div ng-show="candidateField.type === 'image'">

                    <div ng-show="candidateField.value">
                        <img src="{{candidateField.value}}" alt="" style="width:100px;border:1px solid #999;">
                    </div>

                    <div ng-show="!candidateField.value">
                        <div osprey-directive ng-model="imageUrl"></div>
                        <img src="{{imageUrl}}" alt="" style="width:100px;border:1px solid #999;">
                        <button ng-click="updateCandidateValue(candidate.label, candidateField.label, imageUrl, $index)">save</button>
                    </div>



                </div>


                <div ng-show="candidateField.type === 'text'">

                    <div ng-show="candidateField.value">
                        <span>{{candidateField.value}}</span>
                    </div>

                    <div ng-show="!candidateField.value">
                        <input type="text" ng-model="candidateField.newvalue">
                        <button ng-click="updateCandidateValue(candidate.label, candidateField.label, candidateField.newvalue, $index)">save</button>
                    </div>
                </div>


            </div>
        </div>
    </li>
</ol>