

<div class="voting_app_container" ng-controller="candidateDataModelController">


    <div class="column_1">
        <h1>Candidates</h1>
        <div candidates-directive fields="fields"></div>

        <!-- <div ng-click="clearCandidates()">CLEAR</div> -->
    </div>


    <div class="column_2">
        <h1>Candidate Data Model</h1>
        <h2>Candidates Fields</h2>

        <div candidatemodel-directive fields="fields" ></div>


        <div class="add" ng-click="addingField.active = !addingField.active; new_field = ''">
            <div ng-include src="'images/svg/plus_icon_2.svg'"></div>
        </div>

        <div ng-show="addingField.active" class="add_field_popover">

                <div ng-show="!new_field_type" class="choose_type">

                    <label for="new_field_type_image">image</label>
                    <input class="field_type_input" id="new_field_type_image" type="radio" ng-model="new_field_type" value="image">

                    <label for="new_field_type_text">text</label>
                    <input class="field_type_input" id="new_field_type_text" type="radio" ng-model="new_field_type" value="text">

                </div>

                <div <div ng-show="new_field_type">

                    <div ng-show="!addingField.adding">
                        <input type="text" ng-model="new_field" class="new_field_input">
                        <button ng-click="createField(new_field,new_field_type)" class="new_field_confirm">ADD</button>
                    </div>
                    <span class="adding_indicator" ng-show="addingField.adding">Adding...</span>
                </div>

        </div>

    </div>

    <div ng-click="toggleDebug()" class="debug_toggle" ng-class="{open:debugOpen}">toggle</div>

</div>



