<ul class="candidates_container">
    <li class="candidate_item" ng-repeat="candidate in candidates track by $index" >

        <div class="candidate_label"><span class="candidate_label_inner">{{$index + 1}} {{candidate.label}}</span>

            <span ng-show="open" class="candidate_field" ng-repeat="candidateField in candidate.fields track by $index">
                <div class="svg_icon" ng-include src="'images/svg/icon_'+candidateField.type+'.svg'"></div>
                <span class=" type_{{candidateField.type}}" ng-bind="candidateField.label"></span>
            </span>

        </div>




        <div ng-show="open" ng-click="open = !open" class="collapse_trigger">
            <div class="svg_icon" ng-include src="'images/svg/chevron_icon.svg'"></div>
        </div>
        <div ng-show="!open" ng-click="open = !open" class="collapse_trigger open">
            <div class="svg_icon" ng-include src="'images/svg/chevron_icon.svg'"></div>
        </div>

        <div ng-show="!open">
            <div class="candidate_field" ng-repeat="candidateField in candidate.fields track by $index">


                <span class="candidate_field_label type_{{candidateField.type}}"><span class="svg_icon" ng-include src="'images/svg/icon_'+candidateField.type+'.svg'"></span>{{candidateField.label}}</span>
                <!-- <span class="token_label" ng-show="candidateField.value !== ''">v</span> -->
                <!-- <span ng-click="toggleCandidateEditOpen(candidates, candidate.fields, $parent.$index, $index)">
                    <div ng-class="{has_value: candidateField.value}" ng-show="candidateField.value" class="svg_icon circle_icon" ng-include src="'images/svg/edit_icon.svg'"></div>
                    <div ng-class="{no_value: !candidateField.value}" ng-show="!candidateField.value" class="svg_icon circle_icon" ng-include src="'images/svg/plus_icon_2.svg'"></div>
                </span> -->

                <div ng-show="candidateField.type === 'image'">

                    <div class="field_well" ng-show="candidateField.value">
                        <img class="image_asset" src="{{candidateField.value}}" alt="" >
                        <button ng-click="candidateField.value = ''">remove</button>
                    </div>

                    <div class="field_well" ng-show="!candidateField.value">
                        <div ng-show="!imageUrl" osprey-directive ng-model="imageUrl"></div>
                        <img ng-show="imageUrl" src="{{imageUrl}}" alt="" style="width:100px;border:1px solid #999;">
                        <button ng-show="imageUrl" ng-click="updateCandidateValue(candidate.label, candidateField.label, imageUrl, $index)">save</button>
                    </div>

                </div>

                <div ng-show="candidateField.type === 'text'">

                    <div class="field_well" ng-show="candidateField.value">

                        <div ng-show="candidateField.editing">
                            <textarea type="text" class="field_input" ng-model="candidateField.newvalue"></textarea>
                            <button ng-click="updateCandidateValue(candidate.label, candidateField.label, candidateField.newvalue, $index);candidateField.editing = false">update</button>
                        </div>
                        <div ng-show="!candidateField.editing">
                            <span class="field_text_value">{{candidateField.value}}</span>
                            <button ng-click="candidateField.editing = true">edit</button>
                        </div>
                    </div>

                    <div class="field_well" ng-show="!candidateField.value">
                        <textarea type="text" class="field_input" ng-model="candidateField.newvalue"></textarea>
                        <button ng-click="updateCandidateValue(candidate.label, candidateField.label, candidateField.newvalue, $index)">save</button>

                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<!-- debugging -->

<div class="debugging_window candidates">

    <div ng-show="debugOpen">
        <div class="header">Candidates Data</div>
        <div class="inner_window">

            <div>candidates = [{</div>
            <blockquote>

                <div class="code_line" ng-repeat="candidate in candidates track by $index">
                    <div>"label": "{{candidate.label}}",</div>
                    <div>fields [{</div>
                    <div style="margin-left:30px;" ng-repeat="candidatefield in candidate.fields">
                        <div>"label": "{{candidatefield.label}}",</div>
                        <div>"type": "{{candidatefield.type}}"</div>
                        <div ng-if="candidatefield.value">"value": "{{candidatefield.value}}"</div>
                        <div ng-show="!$last">}, {</div>
                        <div ng-show="$last">}</div>
                    </div>
                    <div>}]</div>
                </div>

                <div>}]</div>
            </blockquote>
        </div>
    </div>
</div>