<span class="token" ng-repeat="field in fields track by $index" ng-class="{token_open: field.actionsOpen && !editingFieldName}">

    <div ng-click="toggleFieldActionsOpen(fields, $index)" ng-show="!editingFieldName" class="token_trigger"></div>

    <div class="svg_icon" ng-include src="'images/svg/icon_'+field.type+'.svg'"></div>

    <span class="token_label type_{{field.type}}" ng-show="!editingFieldName" ng-bind="field.label"></span>

    <span ng-show="editingFieldName">
        <input type="text" ng-show="editingFieldName" ng-model="field.label_new">
        <button ng-click="updateFieldLabel(field.label,field.label_new);editingFieldName = false">SAVE</button>
        <button ng-click="editingFieldName = false">CANCEL</button>
    </span>

    <span ng-show="field.actionsOpen && !editingFieldName" class="token_actions" >

        <span ng-click="editingFieldName = !editingFieldName">
            <div class="svg_icon edit_icon" ng-include src="'images/svg/edit_icon.svg'"></div>
        </span>

        <span ng-click="deleteField(field.label, $index)">
            <div class="svg_icon remove_icon" ng-include src="'images/svg/close_icon_2.svg'" ></div>
        </span>
    </span>


</span>



<div class="debugging_window">

    <div ng-show="debugOpen">
        <div class="header">Fields Data model</div>
        <div class="inner_window">
            <div>fields = [{</div>
            <div class="code_line" ng-repeat="field in fields">
                <div>"label": "{{field.label}}",</div>
                <div>"type": "{{field.type}}"</div>
                <div ng-show="!$index">}, {</div>
                <div ng-show="$index">}</div>
            </div>
            <div>}]</div>

        </div>
    </div>
</div>